[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = "~=2.3.0"
rich = "~=12.5.1"
aiohttp = ">=3.7.4,<3.9.0"
pandas = ">=1.5.3,<2.0.0"
numpy = ">=1.24.3,<2.0.0"
websockets = ">=10.4,<11.0"
PyYAML = "~=6.0"

[dev-packages]

[requires]
python_version = "3.9"
